span.title {
  font-size: 20px;
  color: #7F7F7F;
  text-align: left;
}

.flag {
  height: 17px;
  margin-top: 3px;
  background-image: url('./flags.png');
  background-repeat: no-repeat;
}

.rank-col,
.code-col,
.number-col {
  color: #7F7F7F;
}

.rank-col,
.number-col {
  font-weight: 600;
}

.code-col,
.total-col {
  font-weight: 800;
}

.rank-col {
  width: 8px;
}

.flags-col {
  width: 12px;
}

.code-col {
  width: 20px;
  text-align: left;
}

.number-col {
  width: 10px;
}

.total-col {
  width: 30px;
}

.divTableHead.number-col,
.divTableHead.total-col {
  cursor: pointer;
}

.divTableHead.number-col.current-sort,
.divTableHead.total-col.current-sort {
  border-top: 2px solid #7F7F7F;
}

.circle:before {
  content: "\25CF";
  font-size: 20px;
}

.circle.gold-col:before {
  color: gold;
}

.circle.silver-col:before {
  color: silver;
}

.circle.bronze-col:before {
  color: #A57E0C;
}

div.medalCount {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.medalCount .divTableCell, .divTable.medalCount .divTableHead {
  padding: 3px 4px;
}
.divTable.medalCount .divTableCell {
  height: 21px;
  font-size: 15px;
  border-bottom: 1px solid #7F7F7F;
}
.divTable.medalCount .divTableHeading {
  background: #FFFFFF;
  border-bottom: 2px solid #7F7F7F;
}
.divTable.medalCount .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}